.socials {
  max-width: 164px;
  width: 100%;
}

.socials__list {
  @include flex(space-between, center, row, wrap);
}

.socials__image {
  width: 27px;
  height: 27px;
  fill: #fff;
  opacity: 0.5;
}

.socials__link:hover .socials__image {
  opacity: 1;
  fill: $secondary-color;
}