footer.footer
  .container
    .footer__wrap
      .footer__copyright &copy; 2019
      h3.footer__title Сергей#[br] Матвеев
      p.footer__info.text Личный сайт#[br] веб разработчика
      nav.footer__nav
        include main-nav
      p.footer__text.text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
      blockquote.footer__qoute.text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
      p.footer__qoute-author Martin Golding
      include socials
      +socials('footer')