ul.school__list
  - var items = ['HTML', 'CSS', 'JavaScript']
  each item in items
    li.school__item= item
h2.school__title.title Сайт школы образования
p.school__text.text Этот парень проходил обучение веб-&nbsp;разработке не где-то, а в LoftSchool! 2&nbsp;месяца только самых тяжелых испытаний&nbsp;и бессонных ночей!
a.school__link Посмотреть сайт