include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      section.parallax-train
        - var items = ['1', '2', '3', '4', '5', '6']
          each item in items
            .parallax-train__layer
              +image(`parallax-train/${item}.png`, 'parallax-train__image', 'поезд и горы')
        include components/header
        include components/intro
        include components/popup-menu
      include components/hero
      main.main
        include components/skills
        include components/projects
        section.parallax-foliage
          - var items = ['1', '2', '3', '4']
            each item in items
              .parallax-foliage__layer
                +image(`parallax-foliage/${item}.png`, 'parallax-foliage__image', 'листья')
          include components/review
          include components/contacts
      include components/footer